body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  color: #40514e;
}

h1 {
  font-size: 5rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Source Code Pro', monospace;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Source Code Pro', monospace;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  padding: 15px;
}

h3 {
  font-family: 'Source Code Pro', monospace;
  color: #11999E;
}

a {
  font-family: 'Source Code Pro', monospace;
  color: #11999E;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

hr {
  border-style: dotted;
  border-width: 8px 0 0 0;
  width: 7.5%;
  color: lightgrey;
}

p {
  line-height: 2;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding: 3rem;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  right: 300px;
}

.profile {
  width: 30%;
  padding: 50px;
  margin: auto;
}

.contact-me {
  width: 30%;

  margin: 40px auto 60px;
}

.footer-link {
  color: #11999E;
  padding: 10px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 15px 0;
}

.world-size {
  width: 70%;
  margin: auto;
}

.helm-size {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.belt-size {
  width: 15%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 40%;
  margin: 100px auto 100px auto;
  text-align: justify;
}
